# Node modules — ignore all dependencies
node_modules/

# Optional: keep dependency definitions
# (Remove these unless you *really* have a reason to ignore them)
# package.json
# package-lock.json

# Local data/output
trash
php/addChartInfo.log

# Ignore contents of TMS and DB, but keep the folders
data/tspo_expo/tms/*
!data/tspo_expo/tms/.gitkeep
data/tspo_expo/db/*
!data/tspo_expo/db/.gitkeep
data/tspo_expo/json/*
!data/tspo_expo/json/.gitkeep
